.section-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.css-code,
.html-code,
.script-code {
  margin-bottom: 30px;
}
pre {
  background: #4a4948;
  border-radius: 5px;
  display: block;
  white-space: pre;
}

code {
  color: #fff;
  /* font-family: "Courier New"; */
  font-size: 14px;
}
