code {
  /* color: #cc0041; */
  color: #fff;
  font-family: Consolas,"courier new";
}
pre {
  background-color: #1f1f1f;
  border-radius: 5px;

}

.component {margin-bottom: 100px;}

.component-title h2 {font-size: 2rem;}

.example-code h4 {font-size: 1.2rem;}

.section-header {margin-bottom: 50px;}

.html-code {
  margin-bottom: 30px;
}

.css-code {

}
